.home__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.home__title {
  flex: 3;
}

.home__title h1 {
  font-size: 4rem;
  letter-spacing: -1px;
  line-height: 1.1;
}

.home__title p {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
  width: 90%;
  margin-bottom: 2rem;
}

.home__img {
  flex: 2;
  margin-right: -300px;
  min-width: 60%;
}

@media only screen and (max-width: 1000px) {
  .home__container {
    flex-direction: column-reverse;
  }

  .home__img {
    min-width: none;
    width: 140%;
    margin-right: -150px;
  }

  .home__title {
    text-align: center;
  }

  .home__title h1 {
    font-size: 3rem;
  }
  .home__title p {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.1rem;
  }

  .btn {
    font-size: 1.3rem;
    padding-inline: 2.5rem;
  }
}
