.header {
  width: 100%;
  display: flex;
  padding-block: 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  gap: 1rem;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
}

.nav__list a {
  color: var(--clr-neutral-400);
  font-weight: var(--fw-bolder);
  font-size: var(--fs-regular);
}

.nav__list a:hover {
  color: var(--clr-neutral-700);
  transition: 0.2s;
}

.login-btn {
  margin-right: 1rem;
  background-color: transparent;
  color: var(--clr-neutral-400);
}

.login-btn:hover {
  color: var(--clr-neutral-700);
  transition: 0.2s;
  background: transparent;
}

.signup-btn:hover {
  opacity: 0.7;
  transition: 0.2s;
}
