.full-bg {
  background-color: var(--clr-neutral-150);
}

.statistics__title-container {
  margin: 3rem auto;
  text-align: center;
  width: 47%;
}

.statistics__title-container h2 {
  font-size: var(--fs-bigger);
  margin-bottom: 1rem;
}

.statistics__title-container p {
  color: var(--clr-neutral-400);
}

.statistics__card-container {
  position: relative;
  margin: 6rem 0 5rem 0;
  display: flex;
  gap: 1.3rem;
  justify-content: center;
}

.statistics__card-container::before {
  content: "";
  position: absolute;
  top: 35%;
  width: 70%;
  height: 5px;
  background-color: var(--clr-primary-400);
}
