.shortener__container {
  margin-top: -8rem;
}

.shortener__input-container {
  width: 100%;
  padding: 2.5rem 3rem;
  background-color: var(--clr-primary-500);
  background-image: url("../../assets/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.shortener__input-box {
  position: relative;
  flex-grow: 4;
}

.shortener__input {
  border-radius: 0.4rem;
  border: none;
  width: 100%;
  padding: 0.6rem 1.5rem;
  color: var(--clr-neutral-400);
}

.shortener__input:focus {
  color: var(--clr-secondary-400);
  /* outline: 2px solid var(--clr-secondary-400); */
  outline: none;
  border: 2px solid var(--clr-secondary-400);
}
.shortener__btn {
  border-radius: 0.4rem;
  padding: 0.65rem 2rem;
}

.shortener__list-container {
  width: 100%;
  margin-top: 0.8rem;
  background-color: var(--clr-neutral-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
}

.shortener__long-link {
  width: calc(55%);
  overflow: hidden;
}
.shortener__long-link p {
  font-weight: var(--fw-bold);
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shortener__short-link-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.shortener__short-link p {
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}

.copy__btn {
  min-width: 8rem;
}

.shortener__short-link-btn.copied {
  background-color: var(--clr-neutral-600);
}

.no-link-error {
  position: absolute;
  color: var(--clr-secondary-400);
  font-size: 0.8rem;
  display: block;
  font-style: italic;
  padding-top: 0.3rem;
}

@media only screen and (max-width: 1000px) {
  .shortener__input-container {
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
  }

  .shortener__input-box {
    width: 100%;
  }

  .no-link-error {
    position: relative;
  }

  .shortener__btn {
    width: 100%;
    padding-block: 0.5rem;
  }

  .shortener__list-container {
    flex-direction: column;
    font-size: 1.2rem;
    padding-inline: 0;
  }

  .shortener__long-link {
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--clr-neutral-150);
  }

  .shortener__long-link p {
    max-width: 100%;
    overflow: hidden;
  }

  .shortener__short-link-container {
    width: 100%;
  }

  .shortener__short-link-container ul {
    margin: 0;
    padding: 0 0 0.3rem 0;
    flex-direction: column;
    gap: 0;
    padding-inline: 1rem;
    min-width: 100%;
    align-items: flex-start;
  }

  .shortener__short-link {
    padding: 1rem 0;
  }

  .media-copy-btn {
    width: 100%;
  }
}
